

  <div class="all">
    <div class="lefter"  routerLink="/medecin/profil">

    </div>
    <div class="left" routerLink="/medecin/telecharger">
   
    </div>
    <div class="center" routerLink="/medecin/home">

      <div class="explainer"><img src="assets/img/logo.png" alt="Logo" width="40" height="40" ></div>
    
      </div>
    <div class="right"routerLink="/medecin/montres">
     
    </div>
    <div class="righter"routerLink="/medecin/patient">
 
    </div>
    
    </div>
    
   


    <button mat-icon-button class="btn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> 
    </button>













  <!--  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(53, 124, 150);">
      <div class="container-fluid">
        <a class="navbar-brand text-dark" href="#">
          <img src="assets/img/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-top">
        
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <div class="mr-3">
                <img src="assets/images/home1.png" alt="Icône" routerLink="/medecin/home">
              </div>
            </li>
            <li class="nav-item">
              <div class="mr-3">
                <img src="assets/images/smart-watch1.png" alt="Icône" routerLink="/medecin/montres">
              </div>
            </li>
            <li class="nav-item">
              <div class="mr-3">
                <img src="assets/images/doctor1.png" alt="Icône" routerLink="/medecin/patient">
              </div>
            </li>
            <li class="nav-item">
              <div class="mr-3">
                <img src="assets/images/attachment.png" alt="Icône" routerLink="/medecin/telecharger">
              </div>
            </li>
            <li class="nav-item">
              <div class="mr-3">
                <img src="assets/images/verified.png" alt="Icône" routerLink="/medecin/profil">
              </div>
            </li>
          </ul>
        </div>
        
        
  
        
       
        
      </div>
    </nav>-->