<!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Résultat journaliers</h1>

  </div>
  <div class="cards">
  
    <div class="card card-1" >
      <div class="card__icon">intensité Sedentaire</div>

      <h2 class="card__title">
      
        {{intensiteSed}}
    
      
      </h2>
     
    </div>
    <div class="card card-1" >
      <div class="card__icon">intensité Légère</div>
      <h2 class="card__title">

        {{intensiteLeg}}
   
      
      </h2>
     
    </div>
    <div class="card card-1" >
      <div class="card__icon">intensite Vigoureuse</div>
      <h2 class="card__title">
   
        {{intensiteVig}}
      
      
      </h2>
     
    </div>
    <div class="card card-1" >
      <div class="card__icon">intensite Modérée</div>
      <h2 class="card__title">
  
        {{intensiteMod}}
  
      </h2>
      
    </div>
  
    <div class="card card-1" >
      <div class="card__icon">Nombre d'alerte</div>
      <h2 class="card__title">
        {{nbAlerte}}
    
      
      </h2>
    
    </div>
    <div class="card card-1" >
      <div class="card__icon">Temps de non port</div>
      <h2 class="card__title">
     
        {{dureeHorsLigne}}
    
      
      </h2>
     
    </div>
    <div class="card card-1" >
      <div class="card__icon">Temps de port</div>
      <h2 class="card__title">
     
        {{dureePort}}
      
      </h2>
    
    </div>
 
  </div>
</div>